[Desktop Entry]
Type=Application
Name[tr_TR]=Bing Duvar Kağıdı Değiştirici
Name=Bing Wallpaper Changer
Comment[tr_TR]=Duvar kağıdınızı bing.com resimleriyle otomatik olarak değiştirir
Comment=It changes your wallpaper automatically from bing.com
Exec=sh -c "$HOME/.local/bin/bing-wallpaper-changer.py &"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
